.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {



  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}
.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 999px;
  margin: 0 6px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 24px;
  background-color: #5187af;
}