@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.animate-zoomIn {
  animation: zoomIn 10s ease-in-out forwards;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
  color: black;
}


/* FULLSCREEN WRAPPER */
.vertical-carousel {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* SWIPER FULL HEIGHT */
.myVerticalSwiper {
  height: 100%;
}

/* EACH SLIDE FULLSCREEN */
.swiper-slide {
  height: 100% !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE WRAPPER */
.slide-content {
  height: 100%;

}

/* IMAGE COVER */
.slide-content img {

  height: 100%;
  object-fit: cover; /* 🔥 KEY */
}
/* Pagination container */
.myVerticalSwiper .swiper-pagination {
  position: absolute;
  bottom: 20px !important;
  right: 20px !important;
  top: auto !important;
  left: auto !important;

  display: flex;
  flex-direction: column !important; /* 🔥 keep vertical */
  align-items: center;
  gap: 10px;
}

/* Default dot */
.myVerticalSwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #094e9d; /* 🔥 your color */
  opacity: 0.5;
  margin: 0 !important;
  transition: all 0.3s ease;
}

/* Active dot */
.myVerticalSwiper .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.3);
}

